@font-face
  font-family 'benton'
  src url('https://s3.amazonaws.com/design.heroku/fonts/bentonsans-regular.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family 'benton'
  src url('https://s3.amazonaws.com/design.heroku/fonts/bentonsans-medium.woff') format('woff')
  font-weight bold
  font-style normal
