column-count(n)
  -webkit-column-count n
  -moz-column-count n
  column-count n

column-gap(n)
  -webkit-column-gap n
  -moz-column-gap n
  column-gap n

column-fill(n)
  -webkit-column-fill n
  -moz-column-fill n
  column-fill n

column-break-inside(n)
  -webkit-column-break-inside n
  -moz-column-break-inside n
  column-break-inside n

transform(n)
  -webkit-transform n
  -moz-transform n
  transform n

border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n
